:root {
  --text-white: #fff;
  --text-black: #000;
  --purple: #6700ff;
  --blue: #7dc4ff;
  --light-blue: #e0fffd;
  --light-purple: #e7e1ff;
}

.button {
    width: 200px;
    height: 40px;
    font-size: 14px;
    border-radius: 21px;
    border: none;
    outline: none;
}

.button_dark {
    color: var(--text-white);
    background: linear-gradient(79deg, var(--blue), var(--purple) );
}

.button_dark:hover {
    background: var(--blue);
}

.button_dark:focus,
.button_dark:active {
    background: var(--purple);
}

.button_light {
  color: var(--text-black);
  background: linear-gradient(79deg, var(--light-blue), var(--light-purple) );
}

.button_light:hover {
  background: var(--light-blue);
}

.button_light:focus,
.button_light:active {
  background: var(--light-purple);
}
