@import "../../Styles/sizes";;

.wrap {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 65vh;

    &::-webkit-scrollbar {
        width: 0;
    }
}

.root {
    column-count: 3;
    column-width: $default-element-width;
    column-gap: 50px;
    margin: 0 50px;
}

.item {
    margin-bottom: 50px;
    break-inside: avoid-column;
}

#item3 {
    break-after: column;
}