@import "../../Styles/sizes";;

.wrap {
    width: 800px;
}

.root {
    column-count: 3;
    column-width: $default-element-width;
    column-gap: 50px;
    margin: 0 50px;
}

.item {
    margin-bottom: 50px;
    break-inside: avoid-column;
}

#item3 {
    break-after: column;
}