@import "../../Styles/sizes";;

.root {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-top: $default-page-margin;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 65vh;

    &::-webkit-scrollbar {
        width: 0;
    }
}

.gallery {
    margin: 0 25px;
}

.galleryItem {
    margin: 25px;
}
