@import "../../Styles/colors";

.root {
    display: flex;
    align-items: center;
    height: 40px;
}

.list {
    display: flex;
    flex-direction: row-reverse;
}

.list > * {
    margin-left: -20px;
}

.list > *:last-child {
    margin-left: 0;
}

.link {
    color: $blue;
    margin-right: 15px;
    font-family: sans-serif;
    text-decoration: none;
}
